# Python - Archivos compilados y caches
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (Virtual Environments)
venv/
.venv/
env/
ENV/

# Scrapy - Archivos temporales y logs
.scrapy/
*.log

# Archivos de configuración de editores (IDE)
.vscode/
.idea/
.DS_Store
